In [22]:
# for database connections
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

# data
import pandas as pd
import numpy as np

# viz
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
SQL_USERNAME = "postgres"
SQL_PASSWORD = "postgres" 
SQL_IP = "localhost"
PORT = 5432
DATABASE = "project_krivers_apatil_group15" # change this

In [24]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [25]:
# explore and understand the data

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

contacts
contact_id REAL
first_name VARCHAR(20)
last_name VARCHAR(20)
email VARCHAR(80)
last_updated TIMESTAMP

campaign
cf_id REAL
contact_id REAL
company_name VARCHAR(120)
description VARCHAR(120)
goal REAL
pledged REAL
outcome VARCHAR(12)
backers_count REAL
country VARCHAR(4)
currency VARCHAR(4)
launch_date DATE
end_date DATE
staff_pick BOOLEAN
spotlight BOOLEAN
category_id VARCHAR(4)
subcategory_id VARCHAR(20)
last_updated TIMESTAMP

category
category_id VARCHAR(4)
category VARCHAR(20)
last_updated TIMESTAMP

subcategory
subcategory_id VARCHAR(8)
subcategory VARCHAR(20)
last_updated TIMESTAMP

In [26]:
df = pd.read_csv("Resources/contacts.csv")
df.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [27]:
df.to_sql("contacts", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [28]:
df = pd.read_csv("Resources/category.csv")
df.head()

   category_id      category
0            1          food
1            2         music
2            3    technology
3            4       theater
4            5  film & video

In [29]:
df.to_sql("category", schema="public", con=engine, index=False, if_exists="append", method="multi")

9

In [30]:
df = pd.read_csv("Resources/subcategory.csv")
df.head()

   subcategory_id  subcategory
0               1  food trucks
1               2         rock
2               3          web
3               4        plays
4               5  documentary

In [31]:
df.to_sql("subcategory", schema="public", con=engine, index=False, if_exists="append", method="multi")

24

In [32]:
df = pd.read_csv("Resources/campaign.csv")
df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,1,1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,2,2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,3,3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,2,2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,4,4

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cf_id           1000 non-null   int64
 1   contact_id      1000 non-null   int64
 2   company_name    1000 non-null   object
 3   description     1000 non-null   object
 4   goal            1000 non-null   float64
 5   pledged         1000 non-null   float64
 6   outcome         1000 non-null   object
 7   backers_count   1000 non-null   int64
 8   country         1000 non-null   object
 9   currency        1000 non-null   object
 10  launch_date     1000 non-null   object
 11  end_date        1000 non-null   object
 12  staff_pick      1000 non-null   bool
 13  spotlight       1000 non-null   bool
 14  category_id     1000 non-null   int64
 15  subcategory_id  1000 non-null   int64
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 111.5+ KB

In [34]:
df.to_sql("campaign", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [5]:
import pandas as pd
df1 = pd.read_csv("Resources/campaign.csv")
df1.head(15)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,1,1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,2,2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,3,3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,2,2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,4,4
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,2020-12-11 06:00:00,2021-08-29 05:00:00,False,False,4,4
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,2020-07-31 05:00:00,2021-05-11 05:00:00,False,False,5,5
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,2020-12-22 06:00:00,2021-09-21 05:00:00,False,False,4,4
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,2020-04-08 05:00:00,2021-03-10 06:00:00,False,False,4,4
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,2021-08-13 05:00:00,2021-08-31 05:00:00,False,False,2,6
10,2340,3064,Green Ltd,Monitored empowering installation,5200.0,13838.0,successful,220,US,USD,2020-07-11 05:00:00,2021-08-02 05:00:00,False,False,5,7
11,601,4904,"Perez, Johnson and Gardner",Grass-roots zero administration system engine,6300.0,3030.0,failed,27,US,USD,2020-08-11 05:00:00,2021-06-26 05:00:00,False,True,4,4
12,1950,1299,Kim Ltd,Assimilated hybrid intranet,6300.0,5629.0,failed,55,US,USD,2020-11-14 06:00:00,2021-04-09 05:00:00,False,False,5,7
13,671,5602,"Walker, Taylor and Coleman",Multi-tiered directional open architecture,4200.0,10295.0,successful,98,US,USD,2020-11-11 06:00:00,2021-11-06 05:00:00,False,False,2,8
14,1683,5753,"Rodriguez, Rose and Stewart",Cloned directional synergy,28200.0,18829.0,failed,200,US,USD,2021-11-14 06:00:00,2022-01-02 06:00:00,False,False,2,8

In [4]:
df1.describe()

,cf_id,contact_id,goal,pledged,backers_count,category_id,subcategory_id
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1585.743000,3751.434000,43983.100000,42748.055000,727.005000,4.060000,7.306000
std,926.944534,1431.743284,58962.425595,57415.481551,1137.723135,1.690934,5.575253
min,23.000000,1235.000000,100.000000,0.000000,0.000000,1.000000,1.000000
25%,758.750000,2502.750000,4200.000000,5911.250000,86.000000,3.000000,4.000000
50%,1571.500000,3706.500000,8300.000000,11950.000000,184.500000,4.000000,4.000000
75%,2402.250000,4994.250000,80625.000000,66294.250000,923.750000,5.000000,10.000000
max,3209.000000,6234.000000,199200.000000,199110.000000,7295.000000,9.000000,24.000000